Importamos las librerias necesarias:

In [1]:
import pandas as pd
import numpy as np

# DATOS INCENDIOS

Leemos datos_limpios que contienen prácticamente las mismas variables que fires-all pero las columnas de longitud y latitud estan corregidas. Necesitamos ambas bases porque fires-all contiene variables que necesitamos para el analisis que fueron eliminadas en datoslimpioscoor2:

In [2]:
datos1 = pd.read_csv('datos_limpios.csv', sep=';',engine='python')
datos1 = datos1.sort_values('id')
datos1.head()

,id,superficie,tipoincendio,fecha,latitude,longitude,idcomunidad,idprovincia,idmunicipio,municipio,zona,causa,time_ctrl,time_ext,personal,medios,gastos,perdidas
0,2001010001,3.70,Incendio,2001-03-18,42.954656,-2.325719,País Vasco,Álava,13,BARRUNDIA,Noroeste,Intencionado,150,180,10,2,661,553
1,2001010004,1.50,Incendio,2001-03-24,42.552183,-2.640673,País Vasco,Álava,41,NAVARIDAS,Noroeste,Negligencia,275,290,4,1,661,451
2,2001010005,1.50,Incendio,2001-04-16,42.495833,-2.571111,País Vasco,Álava,33,LAPUEBLA DE LABARCA,Noroeste,Negligencia,135,165,4,1,312,902
3,2001010008,7.50,Incendio,2001-05-25,42.946479,-2.485163,País Vasco,Álava,13,BARRUNDIA,Noroeste,Intencionado,335,410,6,1,1082,15338
4,2001010017,1.04,Incendio,2001-07-20,43.091715,-3.024574,País Vasco,Álava,10,AIARA/AYALA,Noroeste,Desconocido,45,75,11,2,270,2866

In [3]:
datos1=datos1.drop(['gastos', 'perdidas'], axis=1)

In [4]:
datos1.dtypes

id                int64
superficie      float64
tipoincendio     object
fecha            object
latitude        float64
longitude        object
idcomunidad      object
idprovincia      object
idmunicipio       int64
municipio        object
zona             object
causa            object
time_ctrl         int64
time_ext          int64
personal          int64
medios            int64
dtype: object

In [5]:
datos1.rename(columns={'idcomunidad':'comunidad', 'idprovincia':'provincia'},inplace=True)

In [6]:
datos2 = pd.read_csv('fires-all.csv', sep=',')
datos2 =datos2.sort_values('id')
datos2.head()

,id,superficie,fecha,lat,lng,latlng_explicit,idcomunidad,idprovincia,idmunicipio,municipio,...,causa_supuesta,causa_desc,muertos,heridos,time_ctrl,time_ext,personal,medios,gastos,perdidas
0,2001010001,3.70,2001-03-18,42.954656,-2.325719,1.0,1.0,1.0,13.0,BARRUNDIA,...,NaN,2.0,NaN,NaN,150.0,180.0,10.0,2.0,661.0,553.0
1,2001010004,1.50,2001-03-24,42.552183,-2.640673,1.0,1.0,1.0,41.0,NAVARIDAS,...,1.0,10.0,NaN,NaN,275.0,290.0,4.0,1.0,661.0,451.0
2,2001010005,1.50,2001-04-16,48.302507,-3.397798,1.0,1.0,1.0,33.0,LAPUEBLA DE LABARCA,...,NaN,10.0,NaN,NaN,135.0,165.0,4.0,1.0,312.0,902.0
3,2001010008,7.50,2001-05-25,42.946479,-2.485163,1.0,1.0,1.0,13.0,BARRUNDIA,...,NaN,2.0,NaN,NaN,335.0,410.0,6.0,1.0,1082.0,15338.0
4,2001010017,1.04,2001-07-20,43.091715,-3.024574,1.0,1.0,1.0,10.0,AIARA/AYALA,...,NaN,0.0,NaN,NaN,45.0,75.0,11.0,2.0,270.0,2866.0

In [7]:
columnas=['idcomunidad','idprovincia']
datos2= datos2[columnas]
datos2.head()

   idcomunidad  idprovincia
0          1.0          1.0
1          1.0          1.0
2          1.0          1.0
3          1.0          1.0
4          1.0          1.0

In [8]:
print('Datos1:', datos1.shape)
print('Datos2:', datos2.shape)

Datos1: (82640, 16)
Datos2: (82640, 2)

Concatenamos las dos bases de datos, como tienen exactamente las mismas filas, solo añadimos las columnas de idcomunidad e idprovincia a la bbdd de datos1.

In [9]:
incendios = pd.concat([datos1, datos2], axis=1, ignore_index=True)
incendios.columns = ['id', 'superficie', 'tipoincendio', 'fecha', 'latitude', 'longitude',
       'comunidad', 'provincia', 'idmunicipio', 'municipio', 'zona', 'causa',
       'time_ctrl', 'time_ext', 'personal', 'medios', 'idcomunidad',
       'idprovincia']
incendios.head()

,id,superficie,tipoincendio,fecha,latitude,longitude,comunidad,provincia,idmunicipio,municipio,zona,causa,time_ctrl,time_ext,personal,medios,idcomunidad,idprovincia
0,2001010001,3.70,Incendio,2001-03-18,42.954656,-2.325719,País Vasco,Álava,13,BARRUNDIA,Noroeste,Intencionado,150,180,10,2,1.0,1.0
1,2001010004,1.50,Incendio,2001-03-24,42.552183,-2.640673,País Vasco,Álava,41,NAVARIDAS,Noroeste,Negligencia,275,290,4,1,1.0,1.0
2,2001010005,1.50,Incendio,2001-04-16,42.495833,-2.571111,País Vasco,Álava,33,LAPUEBLA DE LABARCA,Noroeste,Negligencia,135,165,4,1,1.0,1.0
3,2001010008,7.50,Incendio,2001-05-25,42.946479,-2.485163,País Vasco,Álava,13,BARRUNDIA,Noroeste,Intencionado,335,410,6,1,1.0,1.0
4,2001010017,1.04,Incendio,2001-07-20,43.091715,-3.024574,País Vasco,Álava,10,AIARA/AYALA,Noroeste,Desconocido,45,75,11,2,1.0,1.0

Cambiamos el formato de la variable fecha:

In [10]:
incendios['fecha'] = pd.to_datetime(incendios['fecha'])

Cambiamos a numerico el formato de la longitud:

In [11]:
incendios['longitude']=incendios.longitude.astype(float)

incendios.to_csv('incendios.csv', index = False)

incendios = pd.read_csv('incendios.csv')
incendios.head()

------------------

# DATOS ESTACIONES

Cargamos la bbdd con la informacion de las estaciones meteorologicas:

In [12]:
estaciones = pd.read_csv('estacionesNoIndex.csv', sep=',')
estaciones.head()

,latitud,provincia,altitud,indicativo,nombre,indsinop,longitud
0,413515N,BARCELONA,74,0252D,ARENYS DE MAR,8186.0,023224E
1,411734N,BARCELONA,4,0076,BARCELONA AEROPUERTO,8181.0,020412E
2,412506N,BARCELONA,408,0200E,"BARCELONA, FABRA",NaN,020727E
3,412326N,BARCELONA,6,0201D,BARCELONA,8180.0,021200E
4,414312N,BARCELONA,291,0149X,MANRESA,8174.0,015025E

Cambiamos el formato de la latitud y la longitud:

      W NUMEROS NEGATIVOS
      E NUMEROS POSITIVOS
      N NUMEROS POSITIVOS
      S NUMEROS NEGATIVOS

In [14]:
estaciones["newLat"] = estaciones["latitud"]
estaciones["newLat"] = estaciones["newLat"].str.split("N", n = 1, expand = True)
estaciones["newLat"] = estaciones["newLat"].astype(int)
estaciones["newLat"] = estaciones["newLat"] / 10000

In [15]:
estaciones["newLon"] = estaciones["longitud"]
estaciones['mult'] = np.where(estaciones['newLon'].str.strip().str[-1] == 'W', '-1', '1')
estaciones["newLon"] = estaciones["newLon"].str.split("E", n = 1, expand = True)
estaciones["newLon"] = estaciones["newLon"].str.split("W", n = 1, expand = True)
estaciones["newLon"] = estaciones["newLon"].astype(int)
estaciones["newLon"] = estaciones["newLon"] / 10000

Creamos esta nueva columna de -1 y 1 para indicar las que estan al este y oeste:

In [16]:
estaciones["mult"] = estaciones.mult.astype(float)
estaciones.dtypes

latitud        object
provincia      object
altitud         int64
indicativo     object
nombre         object
indsinop      float64
longitud       object
newLat        float64
newLon        float64
mult          float64
dtype: object

In [17]:
estaciones["newLong"] = estaciones["newLon"] * estaciones["mult"]

Eliminamos las columnas innecesarias

In [18]:
estaciones.drop(['latitud','longitud','mult','newLon'], axis=1, inplace=True)

In [19]:
estaciones.shape

(291, 7)

Renombramos la latitud y la longitud

In [20]:
estaciones.rename(columns={'newLat': 'latitud', 'newLong': 'longitud'}, inplace=True)

In [21]:
estaciones.head()

,provincia,altitud,indicativo,nombre,indsinop,latitud,longitud
0,BARCELONA,74,0252D,ARENYS DE MAR,8186.0,41.3515,2.3224
1,BARCELONA,4,0076,BARCELONA AEROPUERTO,8181.0,41.1734,2.0412
2,BARCELONA,408,0200E,"BARCELONA, FABRA",NaN,41.2506,2.0727
3,BARCELONA,6,0201D,BARCELONA,8180.0,41.2326,2.1200
4,BARCELONA,291,0149X,MANRESA,8174.0,41.4312,1.5025

Miramos cuantos nulos tiene la bbdd de incendios para poder aplicar la funcion distancias:

In [23]:
incendios.latitude.isna().sum()

20

Como son pocos y si no la funcion no funciona, eliminamos las filas que contienen valores nulos en latitud o longitud

In [24]:
incendiosLat = incendios[incendios['latitude'].notna()]

In [25]:
incendiosLatLon = incendiosLat[incendiosLat['longitude'].notna()]

In [26]:
incendiosLatLon.reset_index(drop = True, inplace = True)
incendiosLatLon.head(63)

,id,superficie,tipoincendio,fecha,latitude,longitude,comunidad,provincia,idmunicipio,municipio,zona,causa,time_ctrl,time_ext,personal,medios,idcomunidad,idprovincia
0,2001010001,3.70,Incendio,2001-03-18,42.954656,-2.325719,País Vasco,Álava,13,BARRUNDIA,Noroeste,Intencionado,150,180,10,2,1.0,1.0
1,2001010004,1.50,Incendio,2001-03-24,42.552183,-2.640673,País Vasco,Álava,41,NAVARIDAS,Noroeste,Negligencia,275,290,4,1,1.0,1.0
2,2001010005,1.50,Incendio,2001-04-16,42.495833,-2.571111,País Vasco,Álava,33,LAPUEBLA DE LABARCA,Noroeste,Negligencia,135,165,4,1,1.0,1.0
3,2001010008,7.50,Incendio,2001-05-25,42.946479,-2.485163,País Vasco,Álava,13,BARRUNDIA,Noroeste,Intencionado,335,410,6,1,1.0,1.0
4,2001010017,1.04,Incendio,2001-07-20,43.091715,-3.024574,País Vasco,Álava,10,AIARA/AYALA,Noroeste,Desconocido,45,75,11,2,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58,2001030048,1.50,Incendio,2001-05-30,38.736330,-0.185097,Comunidad Valenciana,Alicante,54,CASTELL DE CASTELLS,Mediterráneo,Negligencia,79,435,26,6,9.0,3.0
59,2001030050,1.00,Conato,2001-06-03,38.249045,-0.663147,Comunidad Valenciana,Alicante,65,ELX/ELCHE,Mediterráneo,Negligencia,0,135,4,1,9.0,3.0
60,2001030060,1.00,Conato,2001-06-19,38.463712,-0.371580,Comunidad Valenciana,Alicante,50,CAMPELLO EL,Mediterráneo,Negligencia,45,75,12,2,NaN,NaN
61,2001030062,6.50,Incendio,2001-06-21,38.603460,-0.119298,Comunidad Valenciana,Alicante,94,NUCIA LA,Mediterráneo,Negligencia,180,1110,52,9,NaN,NaN
62,2001030066,2.00,Incendio,2001-06-24,38.205118,-0.576567,Comunidad Valenciana,Alicante,121,SANTA POLA,Mediterráneo,Desconocido,70,115,20,4,9.0,3.0

In [27]:
incendiosLatLon.longitude.isna().sum()

0

In [28]:
incendiosLatLon.latitude.isna().sum()

0

# DATOS AEMET

Leemos la bbdd con las condiciones climatologicas de aemet:

In [29]:
datosAemet = pd.read_csv('datosAemetNoIndex.csv')
datosAemet.head()

,fecha,indicativo,nombre,provincia,altitud,tmed,prec,tmin,horatmin,tmax,horatmax,dir,velmedia,racha,horaracha,sol,presMax,horaPresMax,presMin,horaPresMin
0,2001-01-01,4358X,DON BENITO,BADAJOZ,273,"12,4","9,8","9,8",22:55,"14,9",12:10,16.0,"4,4","17,5",11:00,NaN,NaN,NaN,NaN,NaN
1,2001-01-01,C447A,TENERIFE NORTE AEROPUERTO,STA. CRUZ DE TENERIFE,632,"14,2","0,9","11,4",07:00,"17,0",11:00,28.0,"3,6","9,7",20:10,"3,2","949,5",Varias,"947,4",Varias
2,2001-01-01,6106X,ANTEQUERA,MALAGA,408,"11,2","3,1","6,6",20:00,"15,7",03:30,18.0,"1,1","10,0",22:50,NaN,NaN,NaN,NaN,NaN
3,2001-01-01,4410X,MÉRIDA,BADAJOZ,228,"13,6","6,2","11,1",19:50,"16,1",11:00,18.0,"4,7","15,3",10:20,NaN,NaN,NaN,NaN,NaN
4,2001-01-01,1690A,OURENSE,OURENSE,143,"12,8","7,3","10,2",23:05,"15,4",14:20,NaN,"3,9",NaN,NaN,"2,8","984,3",24,"980,3",15

In [30]:
len(datosAemet.provincia.unique())

52

In [31]:
len(datosAemet.nombre.unique())

269

In [32]:
datosAemet.isna().sum()

fecha               0
indicativo          0
nombre              0
provincia           0
altitud             0
tmed            52919
prec            53826
tmin            52603
horatmin        74151
tmax            52146
horatmax        72432
dir            112665
velmedia        87752
racha          112661
horaracha      113885
sol            686840
presMax        448838
horaPresMax    448849
presMin        448849
horaPresMin    448983
dtype: int64

Funcion para ver los valores nulos por cada columna:

In [33]:
def missing_zero_values_table(df):
        zero_val = (df == 0.00).astype(int).sum(axis=0)
        mis_val = df.isnull().sum()
        mis_val_percent = 100 * df.isnull().sum() / len(df)
        mz_table = pd.concat([zero_val, mis_val, mis_val_percent], axis=1)
        mz_table = mz_table.rename(
        columns = {0 : 'Zero Values', 1 : 'Missing Values', 2 : '% of Total Values'})
        mz_table['Total Zero Missing Values'] = mz_table['Zero Values'] + mz_table['Missing Values']
        mz_table['% Total Zero Missing Values'] = 100 * mz_table['Total Zero Missing Values'] / len(df)
        mz_table['Data Type'] = df.dtypes
        mz_table = mz_table[
            mz_table.iloc[:,1] != 0].sort_values(
        '% of Total Values', ascending=False).round(1)
        print ("Your selected dataframe has " + str(df.shape[1]) + " columns and " + str(df.shape[0]) + " Rows.\n"      
            "There are " + str(mz_table.shape[0]) +
              " columns that have missing values.")
#         mz_table.to_excel('D:/sampledata/missing_and_zero_values.xlsx', freeze_panes=(1,0), index = False)
        return mz_table

missing_zero_values_table(datosAemet)

Your selected dataframe has 20 columns and 1219990 Rows.
There are 15 columns that have missing values.

,Zero Values,Missing Values,% of Total Values,Total Zero Missing Values,% Total Zero Missing Values,Data Type
sol,0,686840,56.3,686840,56.3,object
horaPresMin,0,448983,36.8,448983,36.8,object
horaPresMax,0,448849,36.8,448849,36.8,object
presMin,0,448849,36.8,448849,36.8,object
presMax,0,448838,36.8,448838,36.8,object
horaracha,0,113885,9.3,113885,9.3,object
dir,356,112665,9.2,113021,9.3,float64
racha,0,112661,9.2,112661,9.2,object
velmedia,0,87752,7.2,87752,7.2,object
horatmin,0,74151,6.1,74151,6.1,object
horatmax,0,72432,5.9,72432,5.9,object
prec,0,53826,4.4,53826,4.4,object
tmed,0,52919,4.3,52919,4.3,object
tmin,0,52603,4.3,52603,4.3,object
tmax,0,52146,4.3,52146,4.3,object

Comprobamos si los indicativos de las estaciones y de aemet son los mismos:

In [34]:
indicativosUniqEstaciones = estaciones.indicativo.unique()
print(len(indicativosUniqEstaciones))

indicativosUniqAemet = datosAemet.indicativo.unique()
print(len(indicativosUniqAemet))

comparativaIndicativos = set(indicativosUniqEstaciones) & set(indicativosUniqAemet)
print(len(comparativaIndicativos))

291
272
272

In [35]:
estaciones_novalidas = estaciones['indicativo'].isin(datosAemet['indicativo'])
estaciones_novalidas

0      True
1      True
2      True
3      True
4      True
       ...
286    True
287    True
288    True
289    True
290    True
Name: indicativo, Length: 291, dtype: bool

In [36]:
estaciones =pd.concat([estaciones, estaciones_novalidas], axis=1, ignore_index=True)
estaciones.columns =['provincia', 'altitud', 'indicativo', 'nombre', 'indsinop', 'latitud',
       'longitud', 'estaciones_novalidas']
estaciones.head()

,provincia,altitud,indicativo,nombre,indsinop,latitud,longitud,estaciones_novalidas
0,BARCELONA,74,0252D,ARENYS DE MAR,8186.0,41.3515,2.3224,True
1,BARCELONA,4,0076,BARCELONA AEROPUERTO,8181.0,41.1734,2.0412,True
2,BARCELONA,408,0200E,"BARCELONA, FABRA",NaN,41.2506,2.0727,True
3,BARCELONA,6,0201D,BARCELONA,8180.0,41.2326,2.1200,True
4,BARCELONA,291,0149X,MANRESA,8174.0,41.4312,1.5025,True

In [37]:
estaciones_validas = estaciones.loc[:,'estaciones_novalidas']== True
estaciones = estaciones.loc[estaciones_validas]
estaciones = estaciones.drop(['estaciones_novalidas'], axis =1)
estaciones.head()

,provincia,altitud,indicativo,nombre,indsinop,latitud,longitud
0,BARCELONA,74,0252D,ARENYS DE MAR,8186.0,41.3515,2.3224
1,BARCELONA,4,0076,BARCELONA AEROPUERTO,8181.0,41.1734,2.0412
2,BARCELONA,408,0200E,"BARCELONA, FABRA",NaN,41.2506,2.0727
3,BARCELONA,6,0201D,BARCELONA,8180.0,41.2326,2.1200
4,BARCELONA,291,0149X,MANRESA,8174.0,41.4312,1.5025

In [38]:
estaciones.shape

(272, 7)

estaciones.to_csv('estacionesLatLong.csv', index = False)

estaciones = pd.read_csv('estacionesLatLong.csv')
estaciones.head()

Definimos la función que calcula los km entre el incendio y la estacion mas cercana.

In [40]:
def haversine_vectorize(lon1, lat1, lon2, lat2):
    import numpy as np
    lon1, lat1, lon2, lat2 = map(np.radians, [lon1, lat1, lon2, lat2])

    newlon = lon2 - lon1
    newlat = lat2 - lat1

    haver_formula = np.sin(newlat/2.0)**2 + np.cos(lat1) * np.cos(lat2) * np.sin(newlon/2.0)**2

    dist = 2 * np.arcsin(np.sqrt(haver_formula ))
    km = 6367 * dist #6367 for distance in KM for miles use 3958
    return km

Definimos la funcion distancias, que devolvera los km y el indicativo de la estacion:

In [41]:
def buscarDistancia5(latitud,longitud):
    conseguirDistancias = pd.read_csv('estacionesLatLong.csv')
    dataIncendio = [{'lat': latitud, 'lon': longitud}]
    incendio = pd.DataFrame(dataIncendio)
    incendioNuevo = pd.concat([incendio]*conseguirDistancias.shape[0])
    incendioNuevo.reset_index(drop=True, inplace=True)
    obtengoDistancias = pd.concat([conseguirDistancias, incendioNuevo], axis=1, ignore_index=True)
    obtengoDistancias.columns = ['provincia','altitud','indicativo','nombre','indsinop',
                                 'latitud','longitud','latIncendio','lonIncendio']
    for x in obtengoDistancias:
        obtengoDistancias['distancia'] = haversine_vectorize(obtengoDistancias['latitud'],
                                                             obtengoDistancias['longitud'],
                                                             obtengoDistancias['latIncendio'],
                                                             obtengoDistancias['lonIncendio'])
    resultado = obtengoDistancias.iloc[obtengoDistancias['distancia'].idxmin(),:]

    return resultado.indicativo, resultado.distancia

Aplicamos la funcion distancia:

In [42]:
lista = []
agregar = []
for i in incendiosLatLon.index:
    lista.append([incendiosLatLon["latitude"][i], incendiosLatLon["longitude"][i]])
    agregar.append(list(buscarDistancia5(float(lista[i][0]),float(lista[i][1]))))

In [43]:
df10 = pd.DataFrame(agregar, columns=['indicativo', 'DistanciaMin'])
df10.head(10)

  indicativo  DistanciaMin
0      1037Y     18.073340
1      9091O     22.429604
2      9091O     14.872331
3       1082     26.184757
4      1078I      5.265566
5      9091O      1.809972
6      9091O      8.569280
7      9091O     15.025288
8      9091O      5.904163
9      1078I     22.172706

Unimos al df de incendios, la distancia y el indicativo de la estacion mas cercana

In [44]:
incendiosIndicativo = pd.concat([incendiosLatLon, df10], axis=1, ignore_index=True)

incendiosIndicativo.columns = ['id', 'superficie', 'tipoincendio', 'fecha', 'latitude', 'longitude',
       'comunidad', 'provincia', 'idmunicipio', 'municipio', 'zona', 'causa',
       'time_ctrl', 'time_ext', 'personal', 'medios', 'idcomunidad',
       'idprovincia', 'indicativo', 'DistanciaMin']

incendiosIndicativo.head()

,id,superficie,tipoincendio,fecha,latitude,longitude,comunidad,provincia,idmunicipio,municipio,zona,causa,time_ctrl,time_ext,personal,medios,idcomunidad,idprovincia,indicativo,DistanciaMin
0,2001010001,3.70,Incendio,2001-03-18,42.954656,-2.325719,País Vasco,Álava,13,BARRUNDIA,Noroeste,Intencionado,150,180,10,2,1.0,1.0,1037Y,18.073340
1,2001010004,1.50,Incendio,2001-03-24,42.552183,-2.640673,País Vasco,Álava,41,NAVARIDAS,Noroeste,Negligencia,275,290,4,1,1.0,1.0,9091O,22.429604
2,2001010005,1.50,Incendio,2001-04-16,42.495833,-2.571111,País Vasco,Álava,33,LAPUEBLA DE LABARCA,Noroeste,Negligencia,135,165,4,1,1.0,1.0,9091O,14.872331
3,2001010008,7.50,Incendio,2001-05-25,42.946479,-2.485163,País Vasco,Álava,13,BARRUNDIA,Noroeste,Intencionado,335,410,6,1,1.0,1.0,1082,26.184757
4,2001010017,1.04,Incendio,2001-07-20,43.091715,-3.024574,País Vasco,Álava,10,AIARA/AYALA,Noroeste,Desconocido,45,75,11,2,1.0,1.0,1078I,5.265566

In [45]:
# Esto es para saber cual es el incendio que tiene la mayor distancia a la estación más cercana.
incendiosIndicativo.iloc[incendiosIndicativo['DistanciaMin'].idxmax(),:]

id                       2013170071
superficie                     1.82
tipoincendio               Incendio
fecha           2013-06-30 00:00:00
latitude                    42.2932
longitude                    3.2894
comunidad                  Cataluña
provincia                    Gerona
idmunicipio                      32
municipio                  CADAQUÉS
zona                   Mediterráneo
causa                   Negligencia
time_ctrl                       185
time_ext                        395
personal                         31
medios                            6
idcomunidad                       2
idprovincia                      17
indicativo                    0372C
DistanciaMin                96.2315
Name: 72987, dtype: object

In [46]:
incendiosIndicativo.shape

(82620, 20)

incendiosIndicativo.to_csv('incendiosIndicativo.csv', index = False)

incendiosIndicativo = pd.read_csv('incendiosIndicativo.csv')
incendiosIndicativo.head()

------------

Unimos la bbdd de las condiciones climatologicas de aemet con la bbdd que recoge las estaciones que hay en España:

In [48]:
estacionesAemet = pd.merge(datosAemet, estaciones, on=["indicativo","provincia","altitud","nombre"])

In [49]:
estacionesAemet.shape

(1219990, 23)

estacionesAemet.to_csv('aemet.csv', index = False)

estacionesAemet = pd.read_csv('aemet.csv')

In [ ]:
estacionesAemet.head()

In [ ]:
estacionesAemet.dtypes

Cambiamos el formato de la fecha para cruzarla con la bbdd de incendios:

In [51]:
estacionesAemet['fecha'] = pd.to_datetime(estacionesAemet['fecha'])

In [52]:
incendiosIndicativo['fecha'] = pd.to_datetime(incendiosIndicativo['fecha'])

------------------

# BBDD DEFINITIVA

Por ultimo, unimos tanto la bbdd de los incendios como la de aemet con sus estaciones para obtener la bbdd final con la que trabajaremos:

In [53]:
bbdd = pd.merge(incendiosIndicativo, estacionesAemet, on=["fecha", "indicativo"], how='left')
bbdd.head()

,id,superficie,tipoincendio,fecha,latitude,longitude,comunidad,provincia_x,idmunicipio,municipio,...,racha,horaracha,sol,presMax,horaPresMax,presMin,horaPresMin,indsinop,latitud,longitud
0,2001010001,3.70,Incendio,2001-03-18,42.954656,-2.325719,País Vasco,Álava,13,BARRUNDIA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2001010004,1.50,Incendio,2001-03-24,42.552183,-2.640673,País Vasco,Álava,41,NAVARIDAS,...,"20,6",13:08,"7,8","945,1",00,"939,1",04,8080.0,42.5255,-2.4406
2,2001010005,1.50,Incendio,2001-04-16,42.495833,-2.571111,País Vasco,Álava,33,LAPUEBLA DE LABARCA,...,"8,1",15:12,"1,1","961,1",00,"959,0",16,8080.0,42.5255,-2.4406
3,2001010008,7.50,Incendio,2001-05-25,42.946479,-2.485163,País Vasco,Álava,13,BARRUNDIA,...,"7,8",13:30,"10,5","1020,0",00,"1017,5",17,8025.0,43.1753,-2.5423
4,2001010017,1.04,Incendio,2001-07-20,43.091715,-3.024574,País Vasco,Álava,10,AIARA/AYALA,...,"6,4",15:40,NaN,NaN,NaN,NaN,NaN,8035.0,43.1212,-3.0617

In [54]:
bbdd.tail()

,id,superficie,tipoincendio,fecha,latitude,longitude,comunidad,provincia_x,idmunicipio,municipio,...,racha,horaracha,sol,presMax,horaPresMax,presMin,horaPresMin,indsinop,latitud,longitud
82615,2015500092,1.01,Incendio,2015-07-10,41.324187,-1.791716,Aragón,Zaragoza,38,ATECA,...,"12,2",15:40,NaN,"950,6",24,"946,7",Varias,8156.0,41.1952,-1.3843
82616,2015500116,11.20,Incendio,2015-08-31,41.873662,-0.900144,Aragón,Zaragoza,298,ZUERA,...,"17,2",14:50,NaN,"982,5",00,"977,4",18,8087.0,42.1155,-1.2831
82617,2015500121,1.11,Incendio,2015-09-15,41.214308,0.249973,Aragón,Zaragoza,189,NONASPE,...,"5,6",10:00,"6,5","990,1",00,"982,6",24,8171.0,41.3734,0.3553
82618,2015500126,1.28,Incendio,2015-09-25,41.387613,-1.326090,Aragón,Zaragoza,24,ALMONACID DE LA SIERRA,...,"11,1",14:20,NaN,"952,8",08,"949,4",Varias,8156.0,41.1952,-1.3843
82619,2015510001,30.00,Incendio,2015-10-05,35.899715,-5.361671,Ceuta y Melilla,Ceuta,1,CEUTA,...,"10,0",10:50,NaN,NaN,NaN,NaN,NaN,8458.0,36.0050,-5.3556

In [55]:
bbdd.dtypes

id                       int64
superficie             float64
tipoincendio            object
fecha           datetime64[ns]
latitude               float64
longitude              float64
comunidad               object
provincia_x             object
idmunicipio              int64
municipio               object
zona                    object
causa                   object
time_ctrl                int64
time_ext                 int64
personal                 int64
medios                   int64
idcomunidad            float64
idprovincia            float64
indicativo              object
DistanciaMin           float64
nombre                  object
provincia_y             object
altitud                float64
tmed                    object
prec                    object
tmin                    object
horatmin                object
tmax                    object
horatmax                object
dir                    float64
velmedia                object
racha                   object
horaracha               object
sol                     object
presMax                 object
horaPresMax             object
presMin                 object
horaPresMin             object
indsinop               float64
latitud                float64
longitud               float64
dtype: object

In [56]:
bbdd.shape

(82620, 41)

In [57]:
bbdd.isnull().sum()

id                  0
superficie          0
tipoincendio        0
fecha               0
latitude            0
longitude           0
comunidad           0
provincia_x         0
idmunicipio         0
municipio           0
zona                0
causa               0
time_ctrl           0
time_ext            0
personal            0
medios              0
idcomunidad      6171
idprovincia      6171
indicativo          0
DistanciaMin        0
nombre          14267
provincia_y     14267
altitud         14267
tmed            16809
prec            17582
tmin            16796
horatmin        18168
tmax            16784
horatmax        18112
dir             23703
velmedia        22091
racha           23703
horaracha       23737
sol             53678
presMax         39183
horaPresMax     39187
presMin         39182
horaPresMin     39189
indsinop        14412
latitud         14267
longitud        14267
dtype: int64

bbdd.to_csv('bbdd_final.csv', index = False)